   {{# each fields }}
    <div class="form-group">
      <label for="{{ this.field }}">{{ this.label }}</label>
      {{#if_equal this.control "textbox"}} {{#if_equal this.type "string"}}
      <input type="text" {{#unless ../isWrite}}readonly{{/unless}} value="{{getObjectVal ../dataFields.[0] this.label formType}}"
        class="{{#unless ../isWrite}}form-control-plaintext{{else}}form-control{{/unless}} form-control-sm " id="{{cFormName this.label formType}}"
        name="{{cFormName this.label formType}}" placeholder="{{ this.placeholder }}"> {{/if_equal}}
        {{#if_equal this.type "number"}}
      <input type="number" {{#unless ../isWrite}}readonly{{/unless}} value="{{getObjectVal ../dataFields.[0] this.label formType}}"
        class="{{#unless ../isWrite}}form-control-plaintext{{else}}form-control{{/unless}} form-control-sm " id="{{cFormName this.label formType}}"
        name="{{cFormName this.label formType}}" placeholder="{{ this.placeholder }}"> {{/if_equal}}
        {{#if_equal this.type "datetime"}}
      <input type="text" {{#unless ../isWrite}}readonly{{/unless}} value="{{getObjectVal ../dataFields.[0] this.label formType}}"
        data-datetimepicker class="{{#unless ../isWrite}}form-control-plaintext{{else}}form-control{{/unless}} form-control-sm"
        id="{{cFormName this.label formType}}" name="{{cFormName this.label formType}}" placeholder="{{ this.placeholder }}"> {{/if_equal}} {{/if_equal}} {{#if_equal this.control "textarea"}}
      <textarea class="{{#unless ../isWrite}}form-control-plaintext{{else}}form-control{{/unless}} form-control-sm" {{#unless ../isWrite}}readonly{{/unless}}
        id="{{cFormName this.label formType}}" name="{{cFormName this.label formType}}" placeholder="{{ this.placeholder }}"
        rows="3">{{getObjectVal ../dataFields.[0] this.label formType}}</textarea> {{/if_equal}} {{#if_equal this.control "dropdown"}}
      <select class="{{#unless ../isWrite}}form-control-plaintext{{else}}form-control{{/unless}} form-control-sm" {{#unless ../isWrite}}readonly{{/unless}}
        id="{{cFormName this.label formType}}" name="{{cFormName this.label formType}}">
        {{# each this.options }} {{#if_equal (getObjectVal ../../dataFields.[0] ../this.label formType) this.val }}
        <option value="{{ this.val }}" selected="selected">{{ this.option }}</option>
        {{else}}
        <option value="{{ this.val }}">{{ this.option }}</option>
        {{/if_equal}} {{/ each}}
      </select>
      {{/if_equal}}

    </div>

    {{/ each }}