{{#each item.childs}} {{> maildocuments item=this}} {{/each}} {{#each item.documents }}
<tr class="mail-attachments" data-id="{{this.id}}" data-name="{{this.name}}" data-f="{{this.file}}" data-fn="{{this.filename}}">
    <td>
        <input type="checkbox" data-check="select">
    </td>
    <td class="text-cont-cont">
        <span class="text-cont">{{this.name}}</span>
    </td>
    <td>
        <input type="checkbox" data-check="link">
    </td>
    <td>
        <input type="checkbox" data-check="zip">
    </td>
    <td>
        <input type="checkbox" data-check="form">
    </td>
</tr>
{{/each}}