<div class="nav-side-menu">
  <div class="toggler" data-menutoggle>
    <i class="fas fa-angle-double-left"></i>
  </div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li data-toggle="collapse" data-target="#definations" class="collapsed {{#ifCond mainMenu '===' 1}}active{{/ifCond}}">
        <a href="#">
          <i class="fas fa-pen-nib"></i> Tanımlamalar
          <span class="arrow"></span>
        </a>
        <i class="far fa-plus-square"></i>
      </li>
      <ul class="sub-menu collapse {{#ifCond mainMenu '===' 1}}show{{/ifCond}}" id="definations">
        <li {{#ifCond subMenu '===' 1}}class="active"{{/ifCond}}>
          <a href="/users"><i class="fas fa-users"></i> Kullanıcılar</a>
        </li>
        <li {{#ifCond subMenu '===' 2}}class="active"{{/ifCond}}>
          <a href="/authorities"><i class="fas fa-unlock-alt"></i> Yetkiler</a>
        </li>
        <li {{#ifCond subMenu '===' 10}}class="active"{{/ifCond}}>
          <a href="/authorities/set"><i class="fas fa-unlock-alt"></i> Yetki Setleri</a>
        </li>
        <li {{#ifCond subMenu '===' 3}}class="active"{{/ifCond}}>
          <a href="/groups"><i class="fas fa-project-diagram"></i> Gruplar</a>
        </li>
        <li {{#ifCond subMenu '===' 4}}class="active"{{/ifCond}}>
          <a href="/folders"><i class="fas fa-folder-open"></i> Klasörler</a>
        </li>
        <li {{#ifCond subMenu '===' 5}}class="active"{{/ifCond}}>
          <a href="/departments"><i class="fas fa-vector-square"></i> Departmanlar</a>
        </li>
        <li {{#ifCond subMenu '===' 14}}class="active"{{/ifCond}}>
          <a href="/organizations"><i class="fas fa-project-diagram"></i> Organizasyon Şemaları</a>
        </li>
        <li {{#ifCond subMenu '===' 6}}class="active"{{/ifCond}}>
          <a href="/documents/types"><i class="fas fa-file-invoice"></i> Döküman Tipleri</a>
        </li>
        <li {{#ifCond subMenu '===' 7}}class="active"{{/ifCond}}>
          <a href="/documents"><i class="fas fa-file-invoice"></i> Dökümanlar</a>
        </li>
        <li {{#ifCond subMenu '===' 16}}class="active"{{/ifCond}}>
          <a href="/lists"><i class="fas fa-file-alt"></i> Listeler</a>
        </li>
        <li {{#ifCond subMenu '===' 15}}class="active"{{/ifCond}}>
          <a href="/formTypes"><i class="fas fa-file-alt"></i> Form Tipleri</a>
        </li>
        <li {{#ifCond subMenu '===' 8}}class="active"{{/ifCond}}>
          <a href="/forms"><i class="fas fa-file-alt"></i> Formlar</a>
        </li>
        <li {{#ifCond subMenu '===' 9}}class="active"{{/ifCond}}>
          <a href="/cardtemplates"><i class="fas fa-archive"></i> Kart Taslakları</a>
        </li>
        <li {{#ifCond subMenu '===' 12}}class="active"{{/ifCond}}>
          <a href="/flowtemplates"><i class="fas fa-archive"></i> İş Akışı Taslakları</a>
        </li>
      </ul>
      <li data-toggle="collapse" data-target="#documents" class="collapsed">
        <a href="#">
          <i class="fas fa-file-invoice"></i> Dökümanlarım
          <span class="arrow"></span>
        </a>
        <i class="far fa-plus-square"></i>
      </li>
      <ul class="sub-menu collapse" id="documents">
        {{# each menucards}}
        <li>
          <a href="#">{{this.name}}</a>
        </li>
        {{/ each}}
      </ul>
      <li data-toggle="collapse" data-target="#folderCards" class="collapsed {{#ifCond mainMenu '===' 3}}active{{/ifCond}}">
        <a href="#">
          <i class="fas fa-archive"></i> Dosya Kartları
          <span class="arrow"></span>
        </a>
        <i class="far fa-plus-square"></i>
      </li>
      <ul class="sub-menu collapse {{#ifCond mainMenu '===' 3}}show{{/ifCond}}" id="folderCards">
        {{# each menucards.data}}
        <li {{#ifCond subMenu '===' "5b64c612d050eb0d22fb797e"}}show{{/ifCond}}>
          <a href="/cards/{{this.[0]}}"><i class="fas fa-file-invoice"></i> {{this.[1]}}</a>
        </li>
        {{/ each}}
      </ul>


      <li data-toggle="collapse" data-target="#cabinets" class="collapsed">
        <a href="#">
          <i class="fa fa-globe fa-lg"></i> Kabinetler
          <span class="arrow"></span>
        </a>
        <i class="far fa-plus-square"></i>
      </li>
      <ul class="sub-menu collapse" id="cabinets">
        <li>New Service 1</li>
        <li>New Service 2</li>
        <li>New Service 3</li>
      </ul>

      <li data-toggle="collapse" data-target="#flowtemplates" class="collapsed {{#ifCond mainMenu '===' 4}}active{{/ifCond}}">
        <a href="#">
          <i class="fas fa-archive"></i> İş Akışları
          <span class="arrow"></span>
        </a>
        <i class="far fa-plus-square"></i>
      </li>
      <ul class="sub-menu collapse {{#ifCond mainMenu '===' 4}}show{{/ifCond}}" id="flowtemplates">
        {{# each menuflowtemplates.data}}
        <li {{#ifCond subMenu '===' "5b64c612d050eb0d22fb797e"}}show{{/ifCond}}>
          <a href="/flows/{{this.[0]}}"><i class="fas fa-file-invoice"></i> {{this.[1]}}</a>
        </li>
        {{/ each}}
      </ul>

        <li data-toggle="collapse" data-target="#userProfile" class="collapsed">
        <a href="#">
          <i class="fa fa-user fa-lg"></i> Kullanıcı
        </a>
      </li>
      <ul class="sub-menu collapse {{#ifCond mainMenu '===' 5}}show{{/ifCond}}" id="userProfile">
        <li {{#ifCond subMenu '===' 11}}class="active"{{/ifCond}}>
          <a href="/users/settings"><i class="fas fa-user"></i> Kullanıcı Ayarları</a>
        </li>
      </ul>

    </ul>
  </div>
</div>