<div class="light-theme">
  <h1>{{title}}</h1>
  {{> alert}}
  <form method="POST" action="{{#if edit}}/authorities/set/{{ authSet._id }}{{else}}/authorities/set/add{{/if}}">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="name">Adı</label>
          <input type="text" class="form-control" id="name" name="name" value="{{ authSet.name }}" placeholder="Yetki seti adı giriniz.">
        </div>

        <div class="form-group">
          <label for="description">Açıklama</label>
          <textarea class="form-control form-control-sm" id="description" name="description" placeholder="Açıklama giriniz." rows="3">{{authSet.description}}</textarea>
        </div>

        <input type="hidden" name="json" id="json" value="{{ jsonStringify authSet.json }}" />

        <button type="type" data-submit class="btn btn-primary">{{#if edit}}Güncelle{{ authority._id }}{{else}}Kaydet{{/if}}</button>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-5">
            <label>Kişi / Rol</label>
            <div class="user-remove float-right disable">
              <i class="fas fa-minus"></i>
            </div>
            <div class="user-add float-right" data-toggle="modal" data-target="#authUserAdd">
              <i class="fas fa-plus"></i>
            </div>
            <div class="list-group list-group-flush" data-auth-users>
            </div>
            <input type="hidden" name="jsJSON" id="jsJSON" value="{{ownersJSON}}" />

          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-6">
                <label>Yetkiler</label>
              </div>
              <div class="col-md-6">
                <div class="input-group float-right filter-box" style="width:200px;">
                  <input type="text" id="authFilter" placeholder="anahtar kelime" class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text" id="deleteFilter"><i class="fas fa-filter"></i></span>
                  </div>
                </div>
              </div>

            </div>

            <div class="card auth-list">
              <ul class="list-group list-group-flush">
                {{# each authorities }}
                <li class="list-group-item" data-auth-id="{{this.[0]}}">{{this.[1]}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>

  <!-- Modal -->
  <div class="modal fade" id="authUserAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{#if edit}}{{editTitle}}{{else}}{{addTitle}}{{/if}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="authorityName">Rol / Kullanıcı</label>
            <select class="form-control" multiple id="owners" name="owners">
              {{# each owners }}
              <option value="{{ this.ownerId }}">{{ this.name}}</option>
              {{/ each}}
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-addowner>Ekle</button>
        </div>
      </div>
    </div>
  </div>
</div>