<div class="row" style="margin:0;">
  <div class="col-md-12 light-theme">
    <div class="table-top col-md-12">
      <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#cardModal">
        <i class="far fa-file"></i>
      </button>
      <div class="dropdown" style="display:inline-block">
        <button class="btn btn-warning btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-cog"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {{# each cardTemplate.form.fields }}

          <div class="form-group">
            <label for="{{ this.field }}">{{ this.label }}</label>
            {{#if_equal this.control "textbox"}} {{#if_equal this.type "text"}}
            <input type="text" {{#unless ../isWrite}}readonly{{/unless}} value="{{getObjectVal ../card.fields.[0] this.label ../formType}}"
              class="{{#unless ../isWrite}}form-control-plaintext{{else}}form-control{{/unless}} form-control-sm " id="{{cFormName this.label ../formType}}"
              name="{{cFormName this.label ../formType}}" placeholder="{{ this.placeholder }}"> {{/if_equal}} {{#if_equal this.type "datetime"}}
            <input type="text" {{#unless ../isWrite}}readonly{{/unless}} value="{{getObjectVal ../card.fields.[0] this.label ../formType}}"
              data-datetimepicker class="{{#unless ../isWrite}}form-control-plaintext{{else}}form-control{{/unless}} form-control-sm"
              id="{{cFormName this.label ../formType}}" name="{{cFormName this.label ../formType}}" placeholder="{{ this.placeholder }}"> {{/if_equal}} {{/if_equal}} {{#if_equal this.control "textarea"}}
            <textarea class="{{#unless ../isWrite}}form-control-plaintext{{else}}form-control{{/unless}} form-control-sm" {{#unless ../isWrite}}readonly{{/unless}}
              id="{{cFormName this.label ../formType}}" name="{{cFormName this.label ../formType}}" placeholder="{{ this.placeholder }}"
              rows="3">{{getObjectVal ../card.fields.[0] this.label ../formType}}</textarea> {{/if_equal}} {{#if_equal this.control "dropdown"}}
            <select class="{{#unless ../isWrite}}form-control-plaintext{{else}}form-control{{/unless}} form-control-sm" {{#unless ../isWrite}}readonly{{/unless}}
              id="{{cFormName this.label ../formType}}" name="{{cFormName this.label ../formType}}">
              {{# each this.options }} {{#if_equal (getObjectVal ../../card.fields.[0] ../this.label ../../formType) this.val }}
              <option value="{{ this.val }}" selected="selected">{{ this.option }}</option>
              {{else}}
              <option value="{{ this.val }}">{{ this.option }}</option>
              {{/if_equal}} {{/ each}}
            </select>
            {{/if_equal}}

          </div>

          {{/ each }}
        </div>
      </div>
    </div>
    <div class="max-height-div">
      <div id="dvSearchBar">
        <button class="btn btn-primary btn-sm" data-search-grupadd><i class="fas fa-plus-circle"></i> Yeni Grup Ekle</button> 
        <button class="btn btn-success btn-sm"><i class="fas fa-plus-circle"></i> Aramayı Kaydet</button>
      <div id="dvSearchFields"></div>
      </div>
      {{> table}}
    </div>
  </div>
</div>

{{#if edit}}
<div class="row" style="margin:0;">
  <div class="col-md-4">

  </div>
  <div class="col-md-3">...</div>
  <div class="col-md-5">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-warning btn-sm" data-ca="6" data-toggle="modal" data-target="#docModal">
        <i class="fas fa-share-square"></i>
      </button>
      <button type="button" class="btn btn-success btn-sm" data-ca="5" data-toggle="modal" data-target="#mailModal">
        <i class="far fa-envelope"></i>
      </button>
      <button type="button" class="btn btn-danger btn-sm">
        <i class="fas fa-cog"></i>
      </button>
    </div>
  </div>
</div>
<div class="row" style="margin:0;">
  <div class="col-md-4 light-theme ">
    <div class="doc-title">Form </div>
    {{>form formType="edit"}}
  </div>
  <div class="col-md-3 light-theme">
    <div class="doc-title">Belgeler</div>
    <ul id="tree2" class="treeCont">
      {{>tree item=folders.folders.[0]}}
    </ul>
  </div>
  <div class="col-md-5 light-theme2">
    <div class="doc-subtitle" data-itemName></div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="process-tab" data-toggle="tab" href="#process" role="tab" aria-controls="process" aria-selected="true">İşlemler</a>
      </li>
      <li class="nav-item" data-ca="23">
        <a class="nav-link" id="note-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Notlar</a>
      </li>
      <li class="nav-item" data-ca="4">
        <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">Geçmiş</a>
      </li>
      <li class="nav-item" data-ca="7">
        <a class="nav-link" id="subscription-tab" data-toggle="tab" href="#subscription" role="tab" aria-controls="subscription"
          aria-selected="false">İzle</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content cardForms">

      <div class="tab-pane fade show active" id="process" role="tabpanel" aria-labelledby="process-tab">
        <div class="process-boxes">
          <div data-folderoptions class="process-box">
            <button data-ca="22" data-optionitem data-key="folderEdit" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
              data-placement="top" title="Adını Değiştir">
              <i class="far fa-edit"></i>
            </button>
            <button data-ca="16" data-optionitem data-key="folderAdd" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
              data-placement="top" title="Alt Klasör Ekle">
              <i class="fas fa-folder-open"></i>
            </button>
            <button data-ca="18" data-optionitem data-key="documentAdd" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
              data-placement="top" title="Döküman Ekle">
              <i class="fas fa-file-invoice"></i>
            </button>
            <button data-ca="17" data-optionitem data-key="folderDelete" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
              data-placement="top" title="Sil">
              <i class="far fa-trash-alt"></i>
            </button>
            <hr>
          </div>
          <div data-documentoptions class="process-box">
            <button data-ca="9" data-optionitem data-key="documentEdit" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
              data-placement="top" title="Adını Değiştir">
              <i class="far fa-edit"></i>
            </button>
            <button data-ca="14" data-optionitem data-key="documentPrint" type="button" class="btn btn-info btn-sm" data-toggle="tooltip"
              data-placement="top" title="Yazdır">
              <i class="fas fa-print"></i>
            </button>
            <button data-ca="10" type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Check in">
              <i class="fas fa-user-check"></i>
            </button>
            <button data-ca="10" type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Check out">
              <i class="fas fa-user-times"></i>
            </button>
            <hr>
          </div>
          <div data-documentdetail class="process-box">
            <div class="row">
              <div class="col-md-12">
                <div class="document-image">
                  <i class="far fa-file-image"></i>
                </div>
                <span class="document-title"></span>
                <br/>
                <button data-ca="8" data-optionitem data-key="documentOpen" type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip"
                  data-placement="top" title="Aç">
                  <i class="fas fa-folder-open"></i> Aç
                </button>
                <button data-ca="13" data-optionitem data-key="documentSave" type="button" class="btn btn-success btn-sm" data-toggle="tooltip"
                  data-placement="top" title="Kaydet">
                  <i class="fas fa-download"></i> İndir
                </button>
                <button data-ca="19" data-optionitem data-key="documentDelete" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                  data-placement="top" title="Sil">
                  <i class="far fa-trash-alt"></i> Sil
                </button>
              </div>

            </div>

          </div>
          <div data-documentsection class="process-box">
            <form id="upload-widget" method="post" action="/cards/upload" class="dropzone" data-ca="18">
              <div class="fallback">
                <input name="file" type="file" />
              </div>
            </form>
            <div id="DocumentItems">

            </div>
            <form method="POST" action="/documents">
              <input type="hidden" name="folder" id="folder" value="" />
              <input type="hidden" name="json" id="json" value="" />

              <button type="button" class="btn btn-outline-success btn-sm">
                <i class="fas fa-plus"></i> Ekle</button>

            </form>
          </div>
          <div data-foldersection class="process-box">
            <form method="POST" action="/folders" data-ca="16">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Klasör Adı</label>
                  <input type="text" class="form-control form-control-sm" id="foldernameAdd" name="foldername" placeholder="Klasör adı giriniz"
                    autocomplete="off">
                </div>

                <div class="form-group col-md-6">
                  <label for="authSet">Yetki Seti</label>
                  <select class="form-control" id="authSet" name="authSet">
                    {{# each authSets }} {{#if_equal ../cardtemplate.authSet this.[0] }}
                    <option value="{{ this.[0] }}" selected="selected">{{ this.[1] }}</option>
                    {{else}}
                    <option value="{{ this.[0] }}">{{ this.[1] }}</option>
                    {{/if_equal}} {{/ each}}
                  </select>
                </div>
              </div>

              <input type="hidden" name="folder" id="folderName" value="" />

              <button type="button" class="btn btn-outline-success btn-sm">
                <i class="fas fa-plus"></i> Ekle</button>

            </form>
          </div>
          <div data-folderedit class="process-box">
            <form method="POST" action="/folders/folderId" data-ca="22">
              <div class="form-group">
                <label for="name">Klasör Adı</label>
                <input type="text" class="form-control form-control-sm" id="foldername" name="foldername" placeholder="Klasör adı giriniz"
                  autocomplete="off">
              </div>

              <button type="button" class="btn btn-outline-success btn-sm">
                <i class="fas fa-save"></i> Güncelle</button>

            </form>
          </div>
          <div data-documentedit class="process-box">
            <form method="POST" action="/documents/documentId" data-ca="9">
              <div class="form-group">
                <label for="name">Döküman Adı</label>
                <input type="text" class="form-control form-control-sm" id="documentname" name="documentname" placeholder="Döküman adı giriniz"
                  autocomplete="off">
              </div>

              <button type="button" class="btn btn-outline-success btn-sm">
                <i class="fas fa-save"></i> Güncelle</button>

            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
        <div data-ca="23" id="note-container"></div>
        <form method="POST" action="/notes" data-ca="12">
          <div class="form-group">
            <label for="roleName">Notunuz</label>
            <textarea class="form-control" id="note" name="note" placeholder="Notunuzu giriniz." rows="3"></textarea>
          </div>

          <input type="hidden" name="folder" id="folderName2" value="" />
          <input type="hidden" name="document" id="documentName2" value="" />

          <button type="button" class="btn btn-outline-success btn-sm">
            <i class="fas fa-paper-plane"></i> Gönder</button>

        </form>
      </div>
      <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
        <div data-ca="4">
          <div id="dvTransactions"></div>
        </div>
      </div>
      <div class="tab-pane fade" id="subscription" role="tabpanel" aria-labelledby="subscription-tab">
        <div data-ca="7">
          abonelik
        </div>
      </div>
    </div>

  </div>
</div>
{{/if}}

<!-- Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{addTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{>form formType="add"}}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="docModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Evrak Gönder</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mail-body">
        <div class="row">
          <div class="col-md-3">Kime : </div>
          <div class="col-md-9" id="docToContainer">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Mesaj : </div>
          <div class="col-md-9">
            <textarea class="form-control form-control-sm" id="docMessage" name="docMessage" data-docfields></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary" data-docsend>Gönder</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mailModalTitle">Elektronik Posta Gönderimi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mail-body">
        <div class="row">
          <div class="col-md-3">Gönderen : </div>
          <div class="col-md-9">Adnan Gög</div>
        </div>
        <div class="row">
          <div class="col-md-3">Kime : </div>
          <div class="col-md-9">
            <input type="text" class="form-control form-control-sm" id="mailTo" name="mailTo" value="" placeholder="" data-mailfields>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Cc : </div>
          <div class="col-md-9">
            <input type="text" class="form-control form-control-sm" id="mailCc" name="mailCc" value="" placeholder="" data-mailfields>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Konu : </div>
          <div class="col-md-9">
            <input type="text" class="form-control form-control-sm" id="mailSubject" name="mailSubject" value="" placeholder="" data-mailfields>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">Mesaj : </div>
          <div class="col-md-9">
            <textarea class="form-control form-control-sm" id="mailMessage" name="mailMessage" data-mailfields></textarea>
          </div>
        </div>
        <div>
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Seç</th>
                <th>Dokuman</th>
                <th>Link</th>
                <th>Sıkıştır</th>
                {{!--
                <th>Şifre</th> --}}
                <th>Form</th>
              </tr>
            </thead>
            <tbody id="mailDocuments">
              {{>maildocuments item=folders.folders.[0]}}
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary" data-mailsend>Gönder</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" name="card" id="card" value="{{ card._id }}" />
<input type="hidden" name="cardtemplate" id="cardtemplate" value="{{ cardTemplate._id }}" />
<input type="hidden" id="formFields" value="{{ jsonStringify cardTemplate.form.fields }}" />