<div class="row" style="margin:0;">
  <div class="col-md-12 light-theme">
      <div class="table-top col-md-12">
            <button type="button" class="btn btn-warning btn-sm"><i class="far fa-file"></i></button>
            <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-cog"></i></button>
        </div>
      <div class="max-height-div">        
          {{> table}}
      </div>
  </div>
</div>
<div class="row" style="margin:0;">
  <div class="col-md-5"><button type="button" class="btn btn-outline-success btn-sm"><i class="fas fa-save"></i> Kaydet</button></div>
  <div class="col-md-2">...</div>
  <div class="col-md-5">
  <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-share-square"></i></button>
  <button type="button" class="btn btn-success btn-sm"><i class="far fa-envelope"></i></button>
  <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-cog"></i></button>
  <button type="button" class="btn btn-info btn-sm"><i class="fas fa-folder-open"></i></button>
</div>
  </div>
</div>
<div class="row" style="margin:0;">
  <div class="col-md-5 light-theme ">
    <form method="POST" action="/forms">
      {{# each formData.fields }}

      <div class="form-group">
        <label for="{{ this.field }}">{{ this.label }}</label>

        {{#if_equal this.type "text"}}
        <input type="text" class="form-control" id="dForm_{{ this.field }}" name="dForm_{{ this.field }}" placeholder="{{ this.label }} giriniz."> 
        {{/if_equal}} 
        {{#if_equal this.type "date"}}
        <input type="text" data-datetimepicker class="form-control" id="dForm_{{ this.field }}" name="dForm_{{ this.field }}" placeholder="{{ this.label }} giriniz."> 
        {{/if_equal}} 
        {{#if_equal this.type "textarea"}}
        <textarea class="form-control" id="dForm_{{ this.field }}" name="dForm_{{ this.field }}" placeholder="{{ this.label }} giriniz."
          rows="3"></textarea> 
        {{/if_equal}} 
        {{#if_equal this.type "select"}}
        <select class="form-control" id="dForm_{{ this.field }}" name="dForm_{{ this.field }}">
          <option>Lütfen Seçin</option>
          {{# each this.values }} {{#if_equal "secilen" this }}
          <option value="{{ this }}" selected="selected">{{ this }}</option>
          {{else}}
          <option value="{{ this }}">{{ this }}</option>
          {{/if_equal}} {{/ each}}
        </select>
        {{/if_equal}}

      </div>

      {{/ each }}

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Kaydet</button>
      </div>
    </form>
  </div>
  <div class="col-md-2 light-theme">
      <div class="doc-title">Belgeler</div>
    <ul id="tree2">
                <li>Dökümanlar

                    <ul>
                        <li>Employees
                            <ul>
                                <li>Reports</li>
                                <li>Employee Maint.</li>
                            </ul>
                        </li>
                        <li>Company Maintenance</li>
                        <li>Human Resources</li>
                    </ul>
                </li>
            </ul>
    </div>
  <div class="col-md-5 light-theme">
    <h2>Detaylar</h2>
  </div>
</div>