<h1>{{title}}</h1>
<div class="table-responsive">
<table class="table table-hover">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">Döküman Tipi</th>
      <th scope="col">Kayıt Tarihi</th>
      <th class="text-right">İşlem</th>
    </tr>
  </thead>
  <tbody>
    {{# each documenttypes }}
    <tr>
      <td scope="row">{{ this.name }}</td>
      <td>{{ this.rDate }}</td>
      <td>
          <div class="btn-group btn-group-sm float-right" role="group" aria-label="İşlemler">
            <a href="/documents/types/{{ this._id }}" class="btn btn-outline-success">
              <i class="far fa-edit"></i> <span class="d-none d-sm-inline">Düzenle</span></a>
            <a href="/documents/types/delete/{{ this._id }}" class="btn btn-outline-danger">
              <i class="far fa-trash-alt"></i> <span class="d-none d-sm-inline">Sil</span></a>
          </div>
        </td>
    </tr>
    {{/ each }}
  </tbody>
</table>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  {{addTitle}}
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{addTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/documents/types/">
        <div class="modal-body">

          <div class="form-group">
            <label for="typeName">Döküman Tipi</label>
            <input type="text" class="form-control" id="typeName" name="typeName" placeholder="Döküman tipi giriniz.">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
          <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{#if edit}}
<!-- Modal Edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">{{editTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/documents/types/{{ documenttype._id }}">
        <div class="modal-body">

          <div class="form-group">
            <label for="typeName">Döküman Tipi</label>
            <input type="text" class="form-control" id="typeName" name="typeName" value="{{ documenttype.name }}" placeholder="Döküman tipi giriniz.">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
          <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/if}}