<div class="light-theme">
<h1>{{title}}</h1>

{{> alert}}

{{> table}}

 {{#unless edit}}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  {{addTitle}}
</button>
{{/unless}}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" group="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" group="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{#if edit}}{{editTitle}}{{else}}{{addTitle}}{{/if}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{#if edit}}/groups/{{ user._id }}{{else}}/groups{{/if}}">
        <div class="modal-body">

          <div class="form-group">
            <label for="groupName">Grup Adı</label>
            <input type="text" class="form-control" id="groupName" name="groupName" value="{{ group.name }}" placeholder="Grup adı giriniz.">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
          <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>