<div class="light-theme">
<h1>{{title}}</h1>

{{> alert}}

{{> table}}

 {{#unless edit}}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  {{addTitle}}
</button>
{{/unless}}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{#if edit}}{{editTitle}}{{else}}{{addTitle}}{{/if}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{#if edit}}/users/{{ user._id }}{{else}}/users{{/if}}">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fName">Adı</label>
              <input type="text" class="form-control" id="fName" name="fName" value="{{ user.fName }}" placeholder="Adı giriniz.">
            </div>

            <div class="form-group col-md-6">
              <label for="lName">Soyadı</label>
              <input type="text" class="form-control" id="lName" name="lName" value="{{ user.lName }}" placeholder="Soyadı giriniz.">
            </div>
          </div>

          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Kullanıcı adı</label>
            <input type="email" class="form-control" id="username" name="username" value="{{ user.username }}" placeholder="Kullanıcı adı giriniz.">
          </div>

          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" placeholder="Email giriniz.">
          </div>
          </div>

          {{#unless edit}}
          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password">Şifre</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Şifre giriniz.">
          </div>

          <div class="form-group col-md-6">
            <label for="passwordTemp">Şifre (Tekrar)</label>
            <input type="password" class="form-control" id="passwordTemp" name="passwordTemp" placeholder="Şifreyi tekrar giriniz.">
          </div>
          </div>
          {{/unless}}

          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="title">Ünvan</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ user.title }}" placeholder="Ünvan giriniz.">
          </div>

          <div class="form-group col-md-6">
            <label for="position">Pozisyon</label>
            <input type="text" class="form-control" id="position" name="position" value="{{ user.position }}" placeholder="Pozisyon giriniz.">
          </div>
          </div>

          <div class="form-group">
            <label for="department">Departman</label>
              <select class="form-control" id="department" name="department">
                <option>Lütfen seçin.</option>
              {{# each departments }} {{#if_equal ../user.department this.[0] }}
              <option value="{{ this.[0] }}" selected="selected">{{ this.[1] }}</option>
              {{else}}
              <option value="{{ this.[0] }}">{{ this.[1] }}</option>
              {{/if_equal}} {{/ each}}
            </select>
          </div>

          <div class="form-group">
            <label for="groupName">Gruplar</label>
            <select class="form-control" multiple id="groups" name="groups">
              {{# each groups }} {{#if_in ../user.groups this.[0] }}
              <option value="{{ this.[0] }}" selected="selected">{{ this.[1] }}</option>
              {{else}}
              <option value="{{ this.[0] }}">{{ this.[1] }}</option>
              {{/if_in}} {{/ each}}
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
          <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>

</div>